.padding-top {
    padding-top: 20px;
}

.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
}

.flex-alt-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-center {
    display: grid;
    justify-items: center;
    align-items: center;
}

.grid-padding {
    display: grid;
    padding: 20px;
}

.background-image {
    background-image: url("/src/assets/background.webp");
    background-size: cover;
}

.header-text {
    font-size: 30px;
}

.subtitle-text {
    padding-top: 10px;
    font-size: 15px;
    text-align: center;
}

.card {
    display: grid;
    width: min-content;
    min-height: 250px;
    background-color: #EEE;
    justify-content: center;
    padding: 10px;
}

.card-image {
    padding: 15px;
}

.card-image > img {
    width: 100px;
    -webkit-box-shadow: 10px 12px 27px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 12px 27px 0px rgba(0, 0, 0, 0.6);
}

.card-subtitle {
    font-size: 12px;
    color: #404040;
}

.card-title {
    font-size: 18px;
}

.load-button-box {
    padding: 20px 0;
}

.load-button {
    background: #EEEEEE;
    width: 100px;
    height: 30px;
    -webkit-box-shadow: 10px 10px 27px -7px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 27px -7px rgba(0, 0, 0, 0.6);
}

.loader {
    padding-top: 10px;
    text-align: center;
}

.about-image {
    -webkit-box-shadow: 10px 10px 27px -7px rgba(0, 0, 0, 0.6);
    box-shadow: 10px 10px 27px -7px rgba(0, 0, 0, 0.6);
    justify-self: end;
}

.about-image img {
    width: 100%;
}

.about-info {
    justify-self: start;
    display: grid;
    row-gap: 10px;
    padding: 20px;
}

.about-title {
    font-size: 20px;
}

.about-subtitle{
    font-size: 14px;
    color: #404040;
}

.about-subtitle-alt {
    font-size: 14px;
}

.not-found-box {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

